* {
	background-color: black;
}

body {
	color:green;
}

button{
	background-color: gray;
	text-align: center;
	line-height: 100%;

}

#sideBar{
	position: absolute;
	width:8%;
	height: 80%;
	top: 10%;
	background-color: gray;
	
}

#focusBlock{
	position: absolute;
	background-color: violet;
	width: 10%;
	height: 10%;
	top: 55%;
	left: 40%;
	z-index: 1;
}

.sideBarElement{
	background-color: gray;
	text-align: center;
	width: 100%;
	height: 5%;
	color: black;
}

.sideInput{
	background-color: gray;
	text-align: center;
	width: 100%;
	height: 100%;
	color: black;
}

.main {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
}

.main > button {
	display: none;
}

.mainAcc{
	width: 100%;
	height: 100%;
}

.sec {
	position: absolute;
	top: 100%;
	width: 20%;
	height: 30%;
	display: inline-block;
}



.secAcc{
	width: 100%;
	height: 100%;
}

#navBar{
	width: 100%;
	height: 5%;
	background-color: gray;
	color: white;
	display: flex;
}

.navBarElement{
	background-color: gray;
	text-align: center;
	width: 5%;
	height: 100%;
}

.navButton{
	background-color: gray;
	text-align: center;
	width: 100%;
	height: 100%;
	line-height: 100%;

}


.navButton:hover, button:hover{
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}